
[submodule "externals/nxp/nano-package"]
	path = externals/nxp/nano-package
	url = https://github.com/NXPPlugNTrust/nano-package.git

[submodule "externals/nxp/plug-and-trust"]
	path = externals/nxp/plug-and-trust
	url = https://github.com/NXP/plug-and-trust.git

[submodule "externals/nxp/nxmw"]
	path = externals/nxp/nxmw
	url = https://github.com/NXP/nxmw.git

[submodule "externals/unity"]
	path = externals/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
